<html xmlns="www.w3.org/1999/xhtml">
<head runat="server">
	<title></title>
</head>
<body>
	<form id="form1" runat="server">
	<div>
	<%Response. Write( "HeIIo World"); %>
	</div>
	</form>
</body>
</html>
